<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset-"UTF-8">
		<meta name="viewport" content-"width=device-width, initial-scale=1.0">
		<title>USer Login</title>
	</head>
	<body>
		<h1>USer Login System</h1>
		<p>
			{% if g.user %}
				{% if get_locale == 'fr' %}
					Vous êtes connecté en tant que {{ g.user.name }}.
			 	{% else %}
			 		You are logged in as {{g.user.name }}.
			 	{% endif %}
			{% else %}
				{% if get_locale == 'fr' %}
					Vous n'êtes pas connecté.
				{% else %}
					You are not logged in.
				{% endif %}
			{% endif %}
		</p>
	</body>
</html>
